---
layout: default
title: Blog
permalink: /blog
---

<div class="card shadow">
    <div class="card-body">
        <h1 class="card-title">{{ page.title }}</h1>
    </div>
</div>

{% for post in site.posts %}
    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">Created: {{ post.date | date: "%d/%m/%Y" }}</h6>
            {% for tag in post.tags %}
                <a href="{{ site.url }}/tags#{{ tag }}"><span class="badge badge-info">{{ tag }}</span></a>
            {% endfor %}
            <p></p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="{{ post.url }}" class="btn btn-primary">Read more &gt;</a>
        </div>
    </div>
{% endfor %}