{{ define "main" }}
    <main aria-role="main">
        <div class="col">
            <img class="text-center rounded-circle logo" src="img/default-img.jpg" width="200" height="200" alt="Paulo Freire">
            <h1 class="display-2">Martin Proks</h1>
            <hr>
            <p>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-gitlab"></i></a>
            </p>
        </div>
    </main>
{{ end }}
