<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Martin Proks @mproksik">
    <title>{{ .Title }}</title>
    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap-grid.min.css">
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}/css/all.css">
    
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
</head>