<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Martin Proks @mproksik">
    <title>{{ .Title }}</title>
    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/palatino" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link type="text/css" rel="stylesheet" href='{{ "css/style.css" | absURL }}'>
    <!-- RSS -->
    {{ with .OutputFormats.Get "RSS" }}
        <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    {{ template "_internal/google_analytics.html" . }}
</head>

<body>