{{ define "main" }}

<div class="row center-xs">
  <div class="col-xs-10 center-xs start-md">

{{ range (where .Site.RegularPages "Type" "in" (slice "weekly")).GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <ul>
    {{ range .Pages }}
    <li>
      <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "02-01-2006" ) }}</span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{- end -}}
  </ul>
  {{ end }}
  </div>
</div>

{{ end }}