main {
  font-size: 0.875rem;
  text-align: justify;
}

.post-content h2 {
  margin-top: 0em;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  vertical-align: baseline;
}

.avatar {
  border-radius: 25%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin-left: 1.0rem;
}

.post-list li {
  display: grid;
  grid-template-columns: 7ch 1fr;
  column-gap: 0.2rem;
}