body, html {
  height: 100%;
  background-color: #EFF3F4;
}

aside {
  background-color: #2C3E50;
}

.logo {
  margin-top: 20px;
}

aside .display-3 {
  font-weight: 200;
  color: #EFF3F4;
  text-align: center;
}

aside .fa {
  font-size: 20px;
}

.flex-grow {
  flex: 1 0 auto;
}

.nav-link {
  color: #ffffff;
}

.nav a:hover {
  background-color: #18BC9C !important;
  color: #ffffff;
}

.nav-link.active {
  background-color: #3498DB !important;
}

.menu {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
  aside {
    position: fixed!important;
    height: 100%!important;
  }
}

.badge {
  background-color: #18BC9C !important;
}

.card {
  margin-top: 20px;
}

.card-title {
  font-weight: 300;
}

.uni {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.award-info {
  padding: 10px;
  margin-left: 10px;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #18BC9C;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

pre {
  padding: 1.5em;
}